.sidebar {
    border: 1.5px solid #eee;
    border-radius: 4px;
    width: 220px;
    
    padding: 5px;
    display: flex;
    flex-direction: column;
    background-color: white;

    & nav {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height:100%;

        ul {
            padding: 0;
            li {
                border-radius: 5px;
                margin: 10px 0;
                padding: 5px 10px;
                a {
                    text-decoration: none;
                    color: var(--link);

                    span{
                        margin-right: 7px;
                    }
                }
            }
            
            li:has(.active) {
                background-color: #2e2e2e;
                & a {
                    color: white;
                }
            }
        }
    }
}