.sidebar {
    border: 2.5px solid #eee;
    border-radius: 15px;
    width: 70px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    background-color: white;

    & nav {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height:100%;

        ul:first-child li:first-child span i {
            font-size: 20px;
        }

        ul {
            li {
                border-radius: 12px;
                margin-left: 3px;
                margin-bottom: 4px;
                width: 50px;
                height: 50px;
                display: flex;
                align-items: center;
                justify-content: center;

                a {
                    text-decoration: none;
                    color: var(--link);

                    span i {
                        font-size: 20px;
                    }
                }
            }
            
            li:has(.active) {
                background-color: #2e2e2e;
                border: 2px solid rgb(255, 255, 255);
                outline: 3px solid #2e2e2e;
                & a {
                    color: white;
                }
            }

            li:not(li:has(.active)):hover {
                background-color: #f1f0f2;
            }
        }
    }
}