body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

* {
  font-family: "poppins";
}

.wrapper {
  overflow-x: auto;
  width: 80%;
}
table {
  border:  2px solid black;
  border-collapse: collapse;

  & td, th {
    padding: 10px;
    border: 2px solid black;
  }
}
/* sticky header (important) */
/* thead th {
  position: sticky;
  top: 0;
  background: #fff;
  z-index: 2;
} */




.schedule-table th,
.schedule-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.schedule-table th {
  background: #f4f4f4;
}

.session {
  background: #e3f2fd;
  padding: 6px;
  border-radius: 4px;
}

.add-btn {
  background: none;
  border: 1px dashed #aaa;
  cursor: pointer;
}
